# FICHIER EXEMPLE - Copiez ce fichier en "environnement.env" et remplacez par vos vraies valeurs
# NE METTEZ JAMAIS VOS VRAIES CLÉS ICI !

GOOGLE_API_KEY=votre_clé_google_ici
EMAIL_ADDRESS=votre_email@gmail.com
EMAIL_PASSWORD=votre_mot_de_passe_app_gmail
